.mt-8 {
    margin-top: 8px;
}
.ml-8 {
    margin-left: 8px;
}
.mr-8 {
    margin-right: 8px;
}
.mb-8 {
    margin-bottom: 8px;
}

.pt-8 {
    padding-top: 8px;
}
.pl-8 {
    padding-left: 8px;
}
.pr-8 {
    padding-right: 8px;
}
.pb-8 {
    padding-bottom: 8px;
}

.ant-dropdown-menu {
    background-color: #22272b !important;
    box-shadow: inset 0px 0px 0px 1px #BCD6F01F, 0px 8px 12px #0304045C, 0px 0px 1px #03040480 !important;
    & li {
        color: white !important;
    }
}

#fake-trello.no-hover{
    .draggable > div {
        pointer-events: none;
    }

    #list-footer > * {
        pointer-events: none;
    }

    #title > * {
        pointer-events: none;
    }

    #add-list > * {
        pointer-events: none;
    }
}